// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circular {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
	}
html{
	height:100%;
}
body, div#wrapper,div#page-content-wrapper,div.userprofile{
height:100%;	
}
div.user_header{
  height:50%;
}
span#user_name{
	font-size:24px;
	
}
span#twitterlink{
font-size:24px;
	
}
.circular_small {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top:20px;
	}