<div class="container-fluid">


  <%= render @forum_thread  %>

	<div class="row">
		<div class="col-md-2 ">
			<%= link_to 'Back', forum_threads_path %>
		</div>	
	</div>

	<%= render 'comments/form'%>
	<%= render 'comments/comments'%>
</div>

