  <h1><%= @forum_thread.subject %></h1>
  <%if user_signed_in?%>
  <p >Posted by 
  	<%= link_to @forum_thread.user.username, user_path(@forum_thread.user) %>
  </p>

  <%end%>
  <%= render @forum_thread.forum_posts %>

  <hr />
  <%= render partial:'forum_posts/form' %>
  
